*{
    padding: 0px;
    margin: 0px;
}.preview-main{
    width :450px;
}
.preview-main img{
    width: 100%;
}

.name{
    font-size: 44px;
    margin-bottom: 20px;
}
.brand{
    font-size:22px ;
    color:#1B1919;
    margin-bottom: 20px;
}
.price{
    font-size:22px ;
    margin-right: 2px;
    color:#1B1919;
}
.rupees{
    font-size:20px ;
    color: #009688
}
.price-tag{
    margin-bottom: 20px;
}

.description{
    font-size:22px ;
    margin-bottom: 20px;
    color:#1B1919;
}
.description-detail{
    color: gray;
    font-size:18px ;
    margin-bottom: 30px;
    
}

.preview-head{
    font-size:22px ;
    margin-bottom: 13px;
    color:#1B1919;
}
 
.preview{
    display: flex;
    margin-bottom: 40px;
}
.preview .photo{
    width: 20%;
    margin-right: 10px;
    padding: 2px 4px;
    cursor: pointer;
    border-radius:8px;
}

.preview .photo:nth-child(1) {
    border: 4px solid #009688;
}
.preview .photo img{
    width: 100%;
    transform: translateY(2px);
}

.product-detail{
    margin-left: 20px;
    width: 600px;
    
    
   
}

.product{
    display: flex;
    justify-content: center;
    margin: 180px 0px;

}

.add-to-cart{

    font-size: 22px;
    padding: 8px 20px ;
    border-radius: 8px;
    cursor: pointer;
    background-color: #009688;
    color: white;
    font-weight: 550;
}
.unique{
    border:4px solid #009688;
}

@media only screen and (max-width: 760px){

    .product{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    
    }

.preview-main{
    width :95%;
    
}
.product-detail{
    margin-top: 30px;
    margin-left: 20px;
    width: 90%;
    
    
   
}
}

